*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#21C08B;
    width:100%;
    height:80px;
}

header img{
    width:200px;
    margin-top:10px;
    margin-left:10px;
}
.header__menu{
    margin-right: 30px;

}
.header__menu ul{
    list-style:none;
    padding:0px;
    position: absolute;
    width: 100px;
    text-align: right;
    /* display: none; */
}

.header__menu--profile{
    margin-right: 8px;
    width: 40px;
}

